.profile-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	background-color: #f5f5f5;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-avatar {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 20px;
}

.profile-username {
	font-size: 1.7em;
	margin-bottom: 10px;
    margin-top: 0;
}

.profile-bio {
	font-size: 1em;
	color: #666;
	margin-bottom: 20px;
}

.profile-contact p {
	font-size: 1em;
	color: #333;
}

@media (max-width: 600px) {
	.profile-container {
		padding: 10px;
	}

	.profile-username {
		font-size: 1.5em;
	}

	.profile-bio,
	.profile-contact p {
		font-size: 0.9em;
	}
}
